<!--
<div class="list">
  
  <h2>Manage {{ itemType | titlecase }}</h2>

  <div class="search-container">
    <input *ngIf="itemType === 'countries'" type="text" [formControl]="searchControl" placeholder="Search countries...">
    <input *ngIf="itemType === 'payments'" type="text" [formControl]="searchControl" placeholder="Search payments...">
    <input *ngIf="itemType === 'users'" type="text" [formControl]="searchControl" placeholder="Search users...">
    <button *ngIf="searchControl.value" class="clear-button" (click)="clearSearch()">X</button>
  </div>
  

  <div *ngIf="noItemsFound" class="no-items">No items found</div>

  <label *ngIf="!noItemsFound">
    <input type="checkbox" [checked]="selectAllChecked"  (change)="toggleSelectAll()" />
    Select All
  </label>


  <div *ngIf="!noItemsFound" class="items-container">
  <div *ngFor="let item of items" class="list-container">
    <label>
      <input type="checkbox" [checked]="item.selected" (change)="itemSelectionChanged(item)" />
    </label>
    
    <div *ngIf="itemType === 'countries'" >
        <img *ngIf="item.flag" [src]="item.flag" alt="{{ item.name }} Flag" data-placement="top"
        class="flag" data-toggle="tooltip" title="{{item.name}}">
        <div >
          <div>
            <p>{{ item.name }}</p>
            <p>{{ item.code }}</p>
          </div>
          <div >
            <p>{{ item.someWeirdServerFieldNameWithCount }}</p>
          </div>
        </div>
    </div>

    <div *ngIf="itemType === 'payments'" class="card">
      <div class="card-body">
        <p class="payments-text">{{ item.status }}</p>
      </div>
    </div>

    
    <div *ngIf="itemType === 'users'">
      <img *ngIf="item.avatarUrl" [src]="item.avatarUrl" alt="{{ item.firstName }} {{ item.lastName }} Avatar" 
      class="avatar" data-toggle="tooltip" title="{{item.firstName}}">
      <p>{{ item.firstName }} {{ item.lastName }}</p>
      <p>{{ item.email }}</p>
    </div>

    
  </div>
 </div>

</div>
-->